.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.newChatBtn {
  background-color: transparent;
  border: 1px solid rgb(74 72 72);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: ease-in-out 0.2s;
}
.newChatBtn:hover {
  background-color: #343434;
  border: 1px solid rgb(120, 119, 119);
  cursor: pointer;
}

.logoBtn {
  height: 35px;
  border-radius: 12px;
  overflow: hidden;
}

.history {
  margin: 10px;
  padding: 5px;
  height: 100%;
}
.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 0.3rem;
  font-size: 14px;
  border: 5px solid transparent;
  position: relative;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.history li:hover {
  background-color: #2b2b2b;
}

.sign{
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid gray;
}