.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.newChatBtn {
  background-color: transparent;
  border: 1px solid rgb(74 72 72);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: ease-in-out 0.2s;
}
.newChatBtn:hover {
  background-color: #343434;
  border: 1px solid rgb(120, 119, 119);
  cursor: pointer;
}

.logoBtn {
  height: 35px;
  border-radius: 12px;
  overflow: hidden;
}

.history {
  margin: 10px;
  padding: 5px;
  height: 100%;
  overflow-y: scroll;
}
.history::-webkit-scrollbar{
  display: none;
}
.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 0.3rem;
  font-size: 14px;
  border: 5px solid transparent;
  position: relative;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.history li:hover {
  background-color: #2b2b2b;
}

.sign{
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid gray;
}

.history-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-trash{
  font-size: 12px !important;
  transition: ease-in-out 0.4;
}

.fa-trash:hover{
  color: red;
}

.sidebarContainer {
  transition: transform 0.3s ease-in-out;
}

/* default desktop */
@media (min-width: 769px) {
  .sidebarContainer {
    transform: translateX(0);
  }

  .mobileMenuIcon {
    display: none;
  }
}

/* mobile view rules */
/* mobile view rules */
@media (max-width: 768px) {

  /* container controls slide & width */
  .sidebarContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    transform: translateX(-100%);  /* fully hidden */
    transition: transform 0.3s ease-in-out;
    z-index: 1002;
  }

  .sidebarContainer.open {
    transform: translateX(0);      /* slides in */
  }

  /* sidebar fills container */
  .sidebar {
    width: 100% !important;
    height: 100vh;
    position: relative;
  }



  /* overlay click closes sidebar */
  .overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 1001;
  }
}
