* {
  color: #ececec;
  font-family: "Open Sans", "Helvetica Neue", "sans-serif";
  margin: 0;
  padding: 0;
}
body, html {
  background-color: #212121;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.app {
  background-color: #212121;
  display: flex;
}
